# Exploring Tennis Attributes and Tournament Outcomes

Authors: A.J. Madison, Robert Silber, and Spencer Tillman

This project is exploring the attributes of tennis players and how they placed in various tournaments throughout their career.

## Literature Review

Literature review

## Project Background

Information about purpose of the project

## Gather and Clean Data

The data has been gathered from:

Tennis databases, files, and algorithms by Jeff Sackmann / Tennis Abstract is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.
Based on a work at https://github.com/JeffSackmann.

Importing data and cleaning it

In [ ]:
#If needed, get requirements.txt file for all required packages

#!curl -0 https://raw.githubusercontent.com/spencer130/COMP4447_FinalProject/main/requirements.txt?token=GHSAT0AAAAAABY4YJJYIHTJ3OVAL4ADFD4KY22WJUA
#!pip install -r requirements.txt

In [11]:
#Import python packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
#Retrieve data from github

url = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_futures_1995.csv'

tennis_df = pd.read_csv(url)
tennis_df.head(10)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1995-M-SA-IND-01A-1994a,India Masters 1,Clay,24,S,19941231,1,102012,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,673.0,NaN,1197.0,2.0
1,1995-M-SA-IND-01A-1994a,India Masters 1,Clay,24,S,19941231,2,101810,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,973.0,NaN,1198.0,2.0
2,1995-M-SA-IND-01A-1994a,India Masters 1,Clay,24,S,19941231,3,102407,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,922.0,NaN,337.0,NaN
3,1995-M-SA-IND-01A-1994a,India Masters 1,Clay,24,S,19941231,4,102213,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,736.0,NaN,674.0,NaN
4,1995-M-SA-IND-01A-1994a,India Masters 1,Clay,24,S,19941231,5,102276,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1021.0,5.0,438.0,NaN
5,1995-M-SA-IND-01A-1994a,India Masters 1,Clay,24,S,19941231,6,102669,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,520.0,NaN,941.0,NaN
6,1995-M-SA-IND-01A-1994a,India Masters 1,Clay,24,S,19941231,7,102892,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,579.0,NaN
7,1995-M-SA-IND-01A-1994a,India Masters 1,Clay,24,S,19941231,8,102268,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1219.0,1.0,936.0,NaN
8,1995-M-SA-IND-01A-1994a,India Masters 1,Clay,24,S,19941231,9,102012,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,673.0,NaN,449.0,NaN
9,1995-M-SA-IND-01A-1994a,India Masters 1,Clay,24,S,19941231,10,101810,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,973.0,NaN,621.0,NaN

## Exploratory Data Analysis

EDA and characteristics of the data

In [15]:
tournament_names = tennis_df['tourney_name'].unique()

#How many tournaments are in the data
len(tournament_names)

AttributeError: 'numpy.ndarray' object has no attribute 'sample'

## Feature Engineering

Look for any feature engineering opportunities to build on the existing data

## Linear Regression

Create multiple models for linear regression

## Conclusion

Findings

## Next Steps

Any follow on analysis that could be performed